@font-face {
    font-family: 'Title App';
    src: url("../fonts/PatrickHand-Regular.ttf");
}

.title_app {
    background-color: chartreuse;
    font-family: "Title App";
    height: 55px;
}

.h1_title {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: center;
    line-height: 59px;
    padding: 0 64px;
    margin: 0;
    color: #58a70a;
}

.tests_themes {
    margin-left: 30%;
}

.test_theme_and_subtheme:hover {
    color: #58a70a;
    cursor: pointer;
}

.task_description {
    text-align: center;
    margin-top: 2%;
}

.task {
    display: inline-block;
    line-height: 16px;
    margin-right: 5px;
}

.can_choose_task:hover {
    color: #58a70a;
    font-size: 40px;
    cursor: pointer;
}

.task_div {
    margin-top: 2%;
    text-align: center;
}

.right_answer {
    color: #58a70a;
}

.wrong_answer {
    color: red;
}

.btn_next {
    width: fit-content;
    margin-top: 5px;
}

.task_again {
    background-color: darkorange!important;
}

.m-left {
    margin-left: 5px;
}

.create-thing {
    margin-top: 20px;
}

.custom-select {
    min-width: 100px;
    max-width: 75%;
}

#choose_right_letter {
    margin-left: 20px;
}

.can_choose_task_hover {
    color: #58a70a;
    font-size: 40px;
}